@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    @await Component.InvokeAsync("TodoCategories", Model.ID)
    @await Component.InvokeAsync("TodoList", Model.ID)
</div>

